.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
  gap: 8px;

  .modalBody {
    display: flex;
    height: 100%;

    .userAvatar{
      height: 50px;
      width: 50px;
    }

    .tweetInput {
      width: 100%;
      font-weight: 400;
      color: var(--Secondary);
      padding: 8px;
      border: none;
      resize: none;
    }
  }
  .modalFooter {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: auto;

    .characterLimit {
      padding: 10px;
      margin-right: 25px;
      font-size: 15px;
      font-weight: 500;
      color: var(--Error);
    }

    .orangeButton {
      padding: 8px 16px;
    }
  }
}
