.userImage {
  height: 50px;
  width: 50px;
  margin: 0 8px auto 0;
  border-radius: 50%;
  object-fit: cover;
}

.tweetLikes {
  cursor: pointer;
}

.redHeart {
  background-image: url(../../assets/redHeart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 14px;
  width: 14px;
}
