.navbar {
  display: flex;
  flex-direction: column;
  width: 178px;
  position: relative;
  height: 100vh;

  .navbarLogo {
    margin-bottom: 30px;
    padding: 14px 0 0 14px;

    img {
      width: 45px;
      height: auto;
    }
  }

  .navbarInfo {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-left: 14px;

    .navbarItem {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 20px;
        height: auto;
      }

      &.active {
        h5 {
          color: var(--brand-color);
        }
      }
    }

    .medium {
      color: var(--gray-800);
    }
  }

  .navbarButton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 46px;
    background: var(--brand-color);
    border-radius: 50px;
    margin-top: 24px;

    button {
      color: var(--white);
      font-size: 20px;
      font-weight: 400;
    }
  }

  .logoutBtn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 14px;
    img {
      margin-right: 20px;
      width: 20px;
      height: auto;
    }
  }
}
