.mainContent::-webkit-scrollbar {
  width: 0px;
}

// .mainContent::-webkit-scrollbar-thumb {
//   background-color: #c1c1c1;
//   border-radius: 4px;
// }

.postSection {
  width: 100%;
  flex: 20%;
}

.tweetsSection {
  width: 100%;
  flex: 80%;
}
