.mainContent::-webkit-scrollbar {
  width: 0px;
}

.postSection {
  position: relative;
  width: 100%;
  flex: 20%;
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--brand-color);
    font-size: 24px;
    font-weight: 700;
  }
}

.tweetsSection {
  width: 100%;
  flex: 80%;
}
