.mainContent::-webkit-scrollbar {
  width: 0px;
}

// .mainContent::-webkit-scrollbar-thumb {
//   background-color: #c1c1c1;
//   border-radius: 4px;
// }

.postSection {
  position: relative;
  width: 100%;
  flex: 20%;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--brand-color);
    font-size: 24px;
  }
}

.tweetsSection {
  width: 100%;
  flex: 80%;
}
