.popular-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  .popular-card-logo {
    margin-right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .popular-card-info {
    display: flex;
    flex-direction: column;
    margin: auto 8px;

    .popular-card-account {
      font-size: 14px;
      color: var(--gray-600);
    }
  }

  .whiteButton {
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 50px;

    &.isFollow {
      background: var(--brand-color);
      color: var(--white);
    }
  }
}

@media (max-width: 1024px) {
  .popular-card {
    .whiteButton {
      padding: 4px 8px;
      white-space: nowrap;
      font-size: 14px;
      .popular-card-info {
        margin: auto auto;
      }
    }
  }
}
