.replyModal {
  .userImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .replyModalHeader {
    padding: 19.5px;
    border-bottom: 1px solid #e6ecf0;
    img {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  .replyContentBody {
    display: flex;
    padding: 15px 15px 0 15px;
    gap: 10px;

    .imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bar {
        width: 2px;
        height: 100%;
        background-color: #ccd6dd;
        margin: 5px 0 10px 0;
      }
    }

    .singleReplyMainContent {
      margin-bottom: 23px;
      .singleReplyContent {
        display: flex;
        align-items: center;
        .name {
          font-size: 15px;
          font-weight: 700;
          color: #1c1c1c;
          margin-right: 5px;
        }

        .dot {
          width: 3.5px;
          height: 3.5px;
          border-radius: 50%;
          background-color: var(--Secondary);
          margin: 0 6px;
        }

        .account,
        .date {
          font-size: 15px;
          font-weight: 500;
          color: var(--Secondary);
        }
      }

      .content {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #1c1c1c;
        margin: 6px 0 18px 0;
      }

      .replyTo {
        font-size: 13px;
        font-weight: 500;
        color: var(--brand-color);

        &::before {
          content: '回覆給';
          padding-right: 3px;
          color: #657786;
        }
      }
    }
  }

  .modalBody {
    display: flex;
    padding: 0 15px;
    gap: 10px;

    .tweetInput {
      padding-top: 12px;
      width: 100%;
      height: 156px;
      border: none;
      resize: none;

      &::placeholder {
        font-size: 18px;
        font-weight: 500px;
        color: #9197a3;
      }
    }
  }

  .modalFooter {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 15px;

    div {
      display: flex;
      align-items: center;
      .characterLimit {
        font-size: 15px;
        font-weight: 500;
        color: var(--Error);
        padding-right: 20px;
        margin-right: 0;
      }

      .btn {
        width: 66px;
        height: 38px;
        background-color: var(--brand-color);
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 100px;
      }
    }
  }
}
