.navbar {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 200px;
  padding: 10px;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    margin-right: 5px;
  }
}

.navbar-button {
  padding: 8px 24px;

  width: 178px;
  height: 46px;

  background: #ff6600;
  border-radius: 50px;
  cursor: pointer;

  button {
    padding: 5px 10px;
    color: #fff;
    border: none;
  }
}
