.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 130px;
  padding: 10px;
  background-color: #ffff;

  .navbar-logo {
    margin-bottom: 30px;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
      margin-right: 16px;
    }

    &.Bold {
      color: var(--gray-800);
    }
  }

  .navbar-button {
    justify-content: center;
    padding: 8px 24px;
    width: 178px;
    height: 46px;
    background: var(--brand-color);
    border-radius: 50px;
    cursor: pointer;
    

    button {
      color: #fff;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
