.userCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  height: 314px;
  background-color: #f6f7f8;
  border-radius: 10px;
  position: relative;

  .bgImg {
    width: 100%;
    height: 140px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .userImg {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    border: 4px solid #ffffff;
    position: absolute;
    top: 64px;
  }

  .userInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    .name {
      font-size: 16px;
      font-weight: 700;
    }

    .account {
      font-size: 14px;
      font-weight: 400;
      color: var(--Secondary);
    }

    .countSec {
      display: flex;
      gap: 18px;
      margin: 19px 0 9px 0;
      span {
        display: flex;
        align-items: center;
        gap: 9px;
        img {
          width: auto;
          height: 21px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .subscription {
      display: flex;
      gap: 8px;

      p {
        font-size: 14px;
        font-weight: 400;
        &::after {
          content: '跟隨者';
          color: var(--Secondary);
        }
      }
    }
  }
}
