.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 69px auto 0 auto;
  font-family: var(--main-font-family);
  width: 356px;

  .logo {
    width: 45px;
    height: 45px;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 29px 0 40px 0;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .btn {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--brand-color);
    padding: 8px 0;
    width: 100%;
    border-radius: 50px;
    margin: 40px 0 22px 0;
  }

  .switchSec {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 18px;
    align-self: flex-end;
    padding-right: 12px;

    .signupSwitch {
      color: var(--Primary);
      border-bottom: 1px solid var(--Primary);
      cursor: pointer;
    }

    .adminSwitch {
      color: var(--Primary);
      border-bottom: 1px solid var(--Primary);
      cursor: pointer;
    }

    .dot {
      width: 3.2px;
      height: 3.2px;
      background-color: black;
      border-radius: 50px;
    }
  }
}
