.tabBar {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  width: 100%;

  .tabButton {
    padding: 15px 53px;
    font-size: 15px;
    font-weight: 700;
    color: #657786;
    white-space: nowrap;

    &.active {
      color: var(--brand-color);
      border-bottom: 1px solid var(--brand-color);
    }
  }
}
