.tweetContainer {
  display: flex;
  padding: 15px;

  .userLogo {
    height: 50px;
    width: 50px;
    margin: 0 8px auto 0;
  }

  .tweetContent {
    margin-left: 5px;

    .tweetHeader {
      display: flex;
      align-items: center;

      .tweetUsername {
        font-weight: 700;
      }

      .tweetAccountName,
      .tweetPostTime {
        margin: 0 6px;
        font-size: 14px;
        font-weight: 400;
        color: var(--Secondary);
      }

      .dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--Secondary);
      }
    }

    .replyText {
      padding-top: 8px;
      font-size: 14px;
      font-weight: 400;
      color: var(--Secondary);
      span {
        color: var(--brand-color);
      }
    }

    .tweetText {
      padding: 10px 0;
    }

    .tweetFooter {
      display: flex;

      .tweetComments {
        display: flex;
        margin-right: 40px;
        gap: 10px;

        .commentCount {
          font-size: 14px;
          font-weight: 600;
          color: var(--Secondary);
        }
      }

      .tweetLikes {
        display: flex;
        gap: 10px;

        .heartIcon {
          position: relative;
          cursor: pointer;

          &.liked {
            background-image: url(../../../assets/redHeart.svg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 14px;
            width: 14px;
          }
        }

        .likeCount {
          font-size: 14px;
          font-weight: 600;
          color: var(--Secondary);
        }
      }
    }
  }
}

hr {
  height: 1px;
  width: 100%;
  background-color: #e6ecf0;
  border: none;
}
