.userInfoContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  .background {
    width: 100%;
    height: 200px;
    background-image: url(../../../assets//backgroundImage.svg);
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .userContext {
    padding: 0 16px 16px 16px;

    .upSection {
      margin-bottom: 8px;

      .userAvatar {
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        z-index: 2;
        transform: translateY(-50%);
        border: 4px solid var(--white);
        background-color: var(--white);
        object-fit: cover;
      }
      .btnSection {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        .notiIcon,
        .msgIcon {
          cursor: pointer;
        }

        .whiteButton {
          &.isFollow {
            background: var(--brand-color);
            color: var(--white);
          }
        }
      }
    }

    .lowerSection {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .accountName,
      .bio {
        font-size: 14px;
        font-weight: 400;
      }

      .accountName {
        color: var(--Secondary);
      }

      .countSection {
        display: flex;
        gap: 20px;

        .count {
          font-size: 14px;
          font-weight: 400;
          color: var(--gray-900);
        }

        .followingCount span,
        .followersCount span {
          color: var(--Secondary);
        }
      }
    }
  }
}

