.tweet-post-container {
  display: flex;
  flex-direction: column;
}

.tweet-post-header {
  padding: 15px;
}

hr {
  background-color: #e6ecf0;
  height: 1px;
  width: 100%;
  border: none;
}

.thickBar{
  height: 10px;
}

.tweet-post-title {
  font-size: 20px;
  font-weight: bold;
}

.tweet-post-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
}

.tweet-post-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
}

.tweet-post-text {
  color: var(--Secondary);
}

.tweet-post-button {
  padding: 8px 16px;
  margin-top: auto;
}
