.loginAdminContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 69px auto 0 auto;
  width: 356px;

  .logo {
    width: 45px;
    height: 45px;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 29px 0 40px 0;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .error {
      font-size: 12px;
      font-weight: 500;
      color: var(--Error);
    }
  }

  .btn {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--brand-color);
    padding: 8px 0;
    width: 100%;
    border-radius: 50px;
    margin: 40px 0 22px 0;
  }

  .switchSec {
    font-size: 16px;
    font-weight: 400;
    align-self: flex-end;
    padding-right: 12px;

    .adminSwitch {
      color: var(--Primary);
      border-bottom: 1px solid var(--Primary);
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .loginAdminContainer {
    margin: 0 auto;
    width: 327px;
    padding: 0 24px;
    height: 100vh;
  }
}
