.adminTweetContainer {
  display: flex;
  padding: 16px 72px 16px 24px;
  border-bottom: 1px solid #e6ecf0;
  position: relative;

  .userImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .adminMainContent {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .adminTweetContent {
      display: flex;
      align-items: center;

      .name {
        font-size: 16px;
        font-weight: 700;
        margin-right: 8px;
      }

      .account,
      .date {
        font-size: 14px;
        font-weight: 400;
      }

      .dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--Secondary);
        margin: 0 6px;
      }
    }

    .content {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 8px;
    }
  }

  .delete {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
  }
}
