.mainContainer {
  display: flex;
  height: 100vh;
  margin: auto 50px;
  gap: 24px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  overflow-y: auto;
}

.mainContent::-webkit-scrollbar {
  width: 0px;
}

// .mainContent::-webkit-scrollbar-thumb {
//   background-color: #c1c1c1;
//   border-radius: 4px;
// }

.postSection {
  width: 100%;
  flex: 20%;
}

.tweetsSection {
  width: 100%;
  flex: 80%;
}

@media (max-width: 768px) {
  .mainContainer {
    margin: unset;
  }
}
