.replyMainContainer {
  display: flex;
  margin: auto 50px;
  gap: 24px;

  .subContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .replyTitleContainer {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 24px;
      border-bottom: 1px solid #e6ecf0;
      gap: 19px;

      .img {
        width: 17px;
        height: 14px;
        cursor: pointer;
      }

      .medium {
        color: var(--gray-900);
      }
    }
  }
}

@media (max-width: 768px) {
  .replyMainContainer {
    margin: 0 0 50px 0;
  }
}
