.userInfoContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  .background {
    width: 100%;
    height: 200px;
    z-index: 1;
    object-fit: cover;
  }

  .userContext {
    padding: 0 16px 16px 16px;

    .upSection {
      margin-bottom: 8px;

      .userAvatar {
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        z-index: 2;
        transform: translateY(-50%);
        border: 4px solid var(--white);
        background-color: var(--white);
        object-fit: cover;
      }

      .whiteButton {
        position: sticky;
        left: 70%;
        margin: 16px 0;
        padding: 8px 16px;
        border-radius: 50px;
      }
    }

    .lowerSection {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .accountName,
      .bio {
        font-size: 14px;
        font-weight: 400;
      }

      .accountName {
        color: var(--Secondary);
      }

      .countSection {
        display: flex;
        gap: 20px;

        .count {
          font-size: 14px;
          font-weight: 400;
          color: var(--gray-900);
          cursor: pointer;
        }

        .followingCount span,
        .followersCount span {
          color: var(--Secondary);
        }
      }
    }
  }
}


@media (max-width: 400px) {
  .userInfoContainer {
    .userContext {
      .upSection {
        .userAvatar {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
