.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f8fa;
  width: auto;
  height: 54px;
  border-bottom: 2px solid #657786;
  padding: 2px 10.55px;
  box-sizing: border-box;
  font-weight: 400;

  .label {
    font-size: 14px;
    color: var(--gray-700);
    text-align: start;
  }

  .input {
    outline: none;
    border: none;
    background-color: #f5f8fa;
    border-radius: 0px;
    font-size: 16px;
    padding: 0;
    &::placeholder {
      color: var(--gray-500);
    }
  }
}
