.popular-list {
  width: 273px;
  background-color: var(--gray-100);

  .medium {
    margin: 24px;
  }

  hr {
    background-color: #e6ecf0;
    border: none;
  }

  .popular-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
